@charset "UTF-8";

* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}

html, body {
	margin:0;
	padding:0;
}

html {
	font-size:100%;
}

body {
	background-color:#c0cccc;
	font-family:"Arial";
}

body > h1 {
	margin:40px 0;
	color:#FFF;
	text-align:center;
	font-size:2.5rem;
	text-transform:uppercase;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

body > div {
	width:90%;
	margin:10% auto;
}
